<body>
  <div class="container-fluid" id="main-body">
    <h1 id="page-header">Time Tracker</h1>
    <div class="row">
      <div class="col-sm-4" id="job-pane" *ngIf="reload">
        <h2>Jobs</h2>
        <router-outlet name="jobList"></router-outlet>
      </div>
      <div class="col-sm-8" id="working-pane">
        <div class="row" id="working-window">
          <div *ngIf="workingPaneView === 'jobForm' "><app-job-form></app-job-form></div>
          <div *ngIf="workingPaneView === 'jobDetail' "><app-job-detail></app-job-detail></div>
          <div *ngIf="workingPaneView === 'taskForm' "><app-task-form></app-task-form></div>
          <div *ngIf="workingPaneView === 'timerList' "><app-timer-list></app-timer-list></div>
        </div>
        <div class="row" id="timer-window">
          <div *ngIf="timerWindowView === 'newTimer'"><app-timer></app-timer></div>
          <div *ngIf="timerToEdit.id !== 0"><app-timer></app-timer></div>
        </div>
      </div>
    </div>
  </div>
</body>
